#calculadora{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}




#calculadora input:hover,button:hover{
    color: blue dotted;
    background-color: blueviolet;
    border-color: aqua;
}



